@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:disabled, select:disabled, textarea:disabled {
        background-color: #f3f4f6 !important; /* bg-gray-100 */
        color: #6b7280 !important; /* text-gray-500 */
        cursor: not-allowed !important;
        border-color: #e5e7eb !important; /* border-gray-200 */
    }
}
